<div id="container">
    <a routerLinkActive="active" routerLink="/new-user">Créer un utilisateur</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Fullname</td>
                <td>Login</td>
                <td>Password</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    <a [routerLink]="['/user/', user.id]">{{user.id}}</a>
                </td>
                <td>{{user.fullname}}</td>
                <td>{{user.login}}</td>
                <td>{{writePassword(user.password)}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
